/* Estilos para todo el proyecto */
body {
    font-family: Quicksand;
    background-color: #f9f9f9;
}

.contenedor-centrado {
    display:flex;
    width: 100%;
    justify-content: center;
}

p {
    font-family: Quicksand;
    background-color: #f9f9f9;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #658762;
}

.img {
    display:flex;
    width: 100%;
    justify-content: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid lightslategray;
    border-radius: 5px;
}

table {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid lightslategray;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

#datosProducto{
    display: none;
}

/* input[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
} */

button {
    padding: 8px;
    margin:4px;
    background-color: #cb6e6c;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Quicksand;
}

button:hover {
    background-color: #e8adab;
}

a {
    padding: 8px;
    margin: 4px;
    background-color: #b1d1ce ;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 85%;
}

a:hover {
    background-color: #658762;
}